<template>
    <div class="history">
        <h2>History</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total</th>
                    <th id="partner-one-name"></th>
                    <th id="partner-two-name"></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div class="button-area">
            <button onclick="back()">Back</button>
        </div>

    </div>
    <script src="components/history/history.js"></script>
</template>